version: '3.8'

services:
    php:
        build: .
        container_name: gestor_php
        volumes:
            - .:/var/www/html
        networks:
            - symfony

    nginx:
        image: nginx:latest
        container_name: gestor_nginx
        ports:
            - "8000:80"
        env_file:
            - .env
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - symfony

    bdd:
        image: mysql:8
        container_name: gestor_bdd
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: gestor
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        ports:
            - "3306:3306"
        networks:
            - symfony
        volumes:
            - db_data:/var/lib/mysql

networks:
    symfony:

volumes:
    db_data:
