@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@600;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --color-green: rgb(0, 60, 191);
    --color-green-fond: rgb(96, 145, 122);
    --color-text-dark: #333;
    --color-light-gray: #f8f8f8;
}

/* rgb(0, 191, 99) */
