name: Code Quality

on:
    push:
        branches:
            - main

jobs:
    phpstan:
        runs-on: ubuntu-latest

        outputs:
            status: ${{ steps.result.outputs.status }}

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  tools: composer
                  extensions: intl, pdo_mysql

            - name: Install dependencies
              run: composer install --no-interaction --prefer-dist

            - name: Run PHPStan
              id: result
              run: |
                  vendor/bin/phpstan analyse --error-format=github
                  echo "status=success" >> $GITHUB_OUTPUT
