name: Docker Rebuild on Main

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Install dependencies
              run: composer install --no-interaction --prefer-dist

            - name: Analyse code quality
              run: vendor/bin/phpstan analyse --error-format=github

            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: hamidmans/gestor:latest
                  cache-from: type=registry,ref=hamidmans/gestor:latest
                  cache-to: type=registry,ref=hamidmans/gestor:latest,mode=max
